.example-card {
    max-width: 30vh;
    margin: 10px;
  }
  .example-card:hover {
    background-color: burlywood;
  }
  
  .example-header-image {
    background-image: url('https://avt.mkklcdnv3.com/avatar_225/16159-hardcore_leveling_warrior.jpg');
    background-size: cover;
  }