    <!-- <div id='center' *ngFor="let manga of mangas.mangas">
        <label> {{ manga.name }} </label><br/>
    </div> -->
    <div class="container-fluid">
      <mat-card class="example-card col-md-8" *ngFor="let manga of mangas.mangas">
        <div (click)="clickManga('/manga/',manga.name)">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ manga.name }}</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  style=' height: 250px;
            width: 150px;' src="https://avt.mkklcdnv3.com/avatar_225/16159-hardcore_leveling_warrior.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                    <a routerLink="/manga/{{manga.name}}" routerLinkActive="active">CLICK</a>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button color="primary">SHARE</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
        <!-- <div id='center' *ngFor="let image of imageArray">
            <img  src="{{image}}" /> <br/>
        </div> -->
<!--         
    <button value="Previous" (click)="previous()">Previous</button> &nbsp;&nbsp; <label for=""> {{chapter}} </label> &nbsp;&nbsp;
    <button  value="Next" (click)="next()">Next</button> -->